<form fxLayout="column" (ngSubmit)="onSubmit()" #createForm="ngForm" class="promotion-create-form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        id="name"
        name="name"
        [(ngModel)]="promotionData.name"
        required
      />
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Details</mat-label>
      <textarea
        matInput
        id="details"
        name="details"
        [(ngModel)]="promotionData.details"
        required
      ></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Value</mat-label>
      <input
        matInput
        type="number"
        id="value"
        name="value"
        [(ngModel)]="promotionData.value"
        required
      />
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Initial Date</mat-label>
      <input
        matInput
        type="date"
        id="initialDate"
        name="initialDate"
        [(ngModel)]="promotionData.initialDate"
        required
      />
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>End Date</mat-label>
      <input
        matInput
        type="date"
        id="endDate"
        name="endDate"
        [(ngModel)]="promotionData.endDate"
        required
      />
    </mat-form-field>
  
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="createForm.invalid"
    >
      Create Promotion
    </button>
  </form>
  