.hotel {
  .hotel-img {
    height: 600px;
    background: url(/assets/images/thehotel-3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .date-container {
    height: 20%;
    padding: 80px;
    width: 100%;
    box-sizing: border-box;
  }
}
