<div class="component-container" fxLayout fxLayoutAlign="center center">
  <mat-card
    fxLayout
    fxLayoutAlign="center center"
    *ngIf="hasRoomData()"
    (click)="openRoomDetailsDialog()"
  >
    <div class="room-card" fxLayout="row" fxLayoutGap="20px"fxLayout.xs="column">
      <!-- Seção da Imagem -->
      <div class="card-image">
        <img mat-card-xl-image [src]="getRoomImage()" alt="Room Image" />
      </div>

      <!-- Seção das Informações do Card -->
      <div class="card-about">
        <mat-card-header>
          <mat-card-title>{{ room.type }}</mat-card-title>
          <mat-card-subtitle>Ocup. max {{ room.capacityAdults }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="custom-card-content">
          <p>
            Oferecem conforto básico padrão de hotelaria aos clientes com
            climatização (central de ar), mesa de trabalho, frigobar
            desabastecido com disposição de itens para compra na recepção,TV,
            Wi-Fi, Café da Manhã, banheiro com chuveiro elétrico, vaga de
            garagem conforme disponibilidade.
          </p>
        </mat-card-content>
      </div>

      <!-- Seção do Valor (Custo) -->
      <div class="card-value">
        <p>{{ calculateTotalCost() | currency: 'BRL' }}</p>
      </div>
    </div>
  </mat-card>
</div>
