<form
  (ngSubmit)="onSubmit()"
  #createForm="ngForm"
  class="reservation-create-form"
>
  <mat-form-field>
    <mat-label>User ID</mat-label>
    <input
      matInput
      type="text"
      id="userId"
      name="userId"
      [(ngModel)]="reservationData.userId"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Room ID</mat-label>
    <input
      matInput
      type="text"
      id="roomId"
      name="roomId"
      [(ngModel)]="reservationData.roomId"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Promotion ID</mat-label>
    <input
      matInput
      type="text"
      id="promotionId"
      name="promotionId"
      [(ngModel)]="reservationData.promotionId"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Start Date</mat-label>
    <input
      matInput
      type="date"
      id="initialDate"
      name="initialDate"
      [(ngModel)]="reservationData.initialDate"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>End Date</mat-label>
    <input
      matInput
      type="date"
      id="endDate"
      name="endDate"
      [(ngModel)]="reservationData.endDate"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Number of Adults</mat-label>
    <input
      matInput
      type="number"
      id="adults"
      name="adults"
      [(ngModel)]="reservationData.adults"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Number of Children</mat-label>
    <input
      matInput
      type="number"
      id="children"
      name="children"
      [(ngModel)]="reservationData.children"
      required
    />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="createForm.invalid"
  >
    Create Reservation
  </button>
</form>
