.room-container {
  height: 80vh;

  .card-container {
    margin-top: 20px;

    .room-card {
      max-width: 200px;
      margin-top: 20px;
      box-sizing: border-box;
    }

    .card-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      gap: 20px;
    }

    .available-status {
      border: 2px solid green;
    }

    .maintenance-status {
      border: 2px solid yellow;
    }

    .occupied-status {
      border: 2px solid red;
    }
  }
}
