<app-navbar />

<section
  class="container about-top"
  fxLayout
  fxLayout.xs="column"
  fxAlign="center"
>
  <div class="about-top-left" fxFlex="60%">
    <div fxFlex="100%">
      <div class="title-top">
        <h1>THE HOTEL</h1>
        <h4>O CONFORTO E A COMODIDADE QUE VOCÊ MERECE!</h4>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ex
        praesentium quasi similique laboriosam, dolorem odit incidunt aspernatur
        explicabo sed, ut iusto minus nobis exercitationem necessitatibus nulla,
        corrupti totam quaerat? Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Quia aliquam non laudantium ad quae, odio voluptates
        sequi, neque eveniet perferendis doloremque sint voluptatum eum ea vero
        iusto voluptate illo consectetur!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas assumenda
        unde tempore, fugit quisquam, sint amet fugiat omnis perspiciatis facere
        eligendi in voluptates, error molestiae consectetur? In magnam similique
        expedita?
      </p>
    </div>
  </div>

  <div class="about-top-right" fxFlex="40%">
    <img src="assets/images/saguao.webp" alt="imagem do saguao" fxFlex="100%" />
  </div>
</section>

<section class="container about-middle" fxLayout.xs="column">
  <div>
    <div class="title-middle">
      <h1>NOSSA EQUIPE</h1>
    </div>
    <div class="title-middle-content">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, hic!
        Aspernatur pariatur corrupti nihil, illum magni cum culpa vel eius ea
        nulla provident, assumenda voluptas laudantium consectetur porro sequi
        odio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
        sunt expedita repudiandae magni voluptates? Mollitia, reprehenderit,
        deserunt voluptate tenetur nam cumque, quia qui exercitationem repellat
        culpa omnis saepe consequatur explicabo?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias aut
        minima nihil iste similique vel distinctio dolores earum eius quisquam,
        pariatur vitae modi neque reiciendis! Dicta dignissimos fugit error
        eveniet. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Debitis magni nemo, rerum, ratione magnam voluptatum voluptatem cum
        possimus qui tempora nisi repudiandae illo? Nihil sapiente hic quod
        iure, vero iste?
      </p>
    </div>
  </div>
  <div class="staff" fxLayout fxLayoutGap="16px" fxLayout.xs="column">
    <mat-card>
      <mat-card-content>
        <img src="assets/images/staff.webp" alt="staff" />
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <img src="assets/images/maid.webp" alt="camareira" />
      </mat-card-content>
    </mat-card>
  </div>
</section>

<section class="container about-bottom" fxLayout.xs="column">
  <div class="title-bottom">
    <h1>SOCIAL</h1>
  </div>
  <div fxLayout fxLayoutGap="16px" fxLayout.xs="column">
    <div>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="title">
            INVESTIMENTOS NA COMUNIDADE
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt,
            nobis odit nemo dolorem ad iusto dignissimos quibusdam voluptas odio
            minima quod voluptate perspiciatis at eveniet facilis, debitis
            tempora saepe officia!
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt,
            nobis odit nemo dolorem ad iusto dignissimos quibusdam voluptas odio
            minima quod voluptate perspiciatis at eveniet facilis, debitis
            tempora saepe officia! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Veritatis doloremque laboriosam quidem aliquam.
            Fugiat, ducimus nulla provident, earum labore, vel esse obcaecati
            non quam ullam voluptatum nihil eaque quo at. Lorem ipsum dolor sit
            amet consectetur, adipisicing elit. Ipsum, at voluptates sed
            officiis molestiae fuga nemo error facere, similique earum
            consectetur odio odit veniam in dolor id perspiciatis fugit quaerat.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
            nisi repellat neque provident tempore porro quod cum. Vero
            accusantium non nobis totam est? Incidunt laudantium quaerat, esse
            quas nisi doloribus.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="title"> PROJETOS SOCIAIS </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt,
            nobis odit nemo dolorem ad iusto dignissimos quibusdam voluptas odio
            minima quod voluptate perspiciatis at eveniet facilis, debitis
            tempora saepe officia!
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt,
            nobis odit nemo dolorem ad iusto dignissimos quibusdam voluptas odio
            minima quod voluptate perspiciatis at eveniet facilis, debitis
            tempora saepe officia! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Veritatis doloremque laboriosam quidem aliquam.
            Fugiat, ducimus nulla provident, earum labore, vel esse obcaecati
            non quam ullam voluptatum nihil eaque quo at. Lorem ipsum dolor sit
            amet consectetur, adipisicing elit. Ipsum, at voluptates sed
            officiis molestiae fuga nemo error facere, similique earum
            consectetur odio odit veniam in dolor id perspiciatis fugit quaerat.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title class="title"> SUSTENTABILIDADE </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt,
            nobis odit nemo dolorem ad iusto dignissimos quibusdam voluptas odio
            minima quod voluptate perspiciatis at eveniet facilis, debitis
            tempora saepe officia!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
            nisi repellat neque provident tempore porro quod cum. Vero
            accusantium non nobis totam est? Incidunt laudantium quaerat, esse
            quas nisi doloribus.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt,
            nobis odit nemo dolorem ad iusto dignissimos quibusdam voluptas odio
            minima quod voluptate perspiciatis at eveniet facilis, debitis
            tempora saepe officia! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Veritatis doloremque laboriosam quidem aliquam.
            Fugiat, ducimus nulla provident, earum labore, vel esse obcaecati
            non quam ullam voluptatum nihil eaque quo at. Lorem ipsum dolor sit
            amet consectetur, adipisicing elit. Ipsum, at voluptates sed
            officiis molestiae fuga nemo error facere, similique earum
            consectetur odio odit veniam in dolor id perspiciatis fugit quaerat.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
