<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- <div class="component-container" fxLayout fxLayoutAlign="center center">
  <div
    class="returned-rooms"
    *ngIf="rooms && rooms.length > 0"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div *ngFor="let room of rooms">
      <app-booking-room-card [room]="room"></app-booking-room-card>
    </div>

    <p *ngIf="rooms && rooms.length > 0">
      Quartos disponíveis para {{ calculateTotalGuests() }} hóspede(s) de
      {{ checkinDate | date: 'dd/MM/yyyy' }} a
      {{ checkoutDate | date: 'dd/MM/yyyy' }}. Total de
      {{ calculateTotalGuests() }} hóspedes.
    </p>
  </div>
</div> -->
